p.sample img {
    width: 155px;}
    center {
        font-size: 17px;
    }
    h2 {
        font-size: 30px;
     }
     p {
        font-size: 16px;
     }
     a {
        font-size: 23px;
     }
